Source: golang-gogoprotobuf
Section: devel
Priority: extra
Maintainer: pkg-go <pkg-go-maintainers@lists.alioth.debian.org>
Uploaders: Jelmer Vernooij <jelmer@debian.org>
Build-Depends: debhelper (>= 9), dh-golang (>= 1.9), golang-go (>= 1.0)
    ,protobuf-compiler
Standards-Version: 3.9.7
Homepage: https://github.com/gogo/protobuf
Vcs-Git: git://anonscm.debian.org/pkg-go/packages/golang-gogoprotobuf.git
Vcs-Browser: https://anonscm.debian.org/cgit/pkg-go/packages/golang-gogoprotobuf.git

Package: golang-gogoprotobuf-dev
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, protobuf-compiler
Description: Alternative protocol buffer support for the Go programming language
 An alternative protocol buffer support for the Go programming language,
 forked from golang-goprotobuf. It is backwards compatible with
 goprotobuf, but provides faster marshalling and unmarshalling and can
 generate extra helper code, tests and benchmarks.
 .
 This package contains the source.
