#!/usr/bin/make -f

export DH_VERBOSE=1
export DH_GOPKG := github.com/gogo/protobuf

%:
	dh $@ --buildsystem=golang --with=golang

override_dh_auto_build:
	dh_auto_build
	rm -f debian/tmp/usr/bin/mixbench

override_dh_auto_test:
	# Not running testsuite, as there is no support for
	# running the tests in a custom build directory.
